@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-wallpaper {
  background-image: url("/wpaper.jpg"); /* Ensure this path is correct */
  background-size: cover; /* Adjust as needed: cover, contain, etc. */
  background-repeat: repeat-y; /* Repeat the background image vertically */
  background-position: center;
  min-height: 100vh; /* Ensure it covers the full height of the viewport */
  display: flex;
  flex-direction: column;
}

/* From Uiverse.io by Pravins01 */
.mycard {
  position: relative;
  width: 300px;
  height: 450px;
  background: linear-gradient(-45deg, #240d27 0%, #64342b 100%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 2px;
  gap: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.mycard::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 315px;
  height: 384px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #7f2309 0%, #990604 80%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mycard::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.mycard p:not(.heading) {
  font-size: 14px;
}

.mycard p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.mycard:hover::after {
  filter: blur(30px);
}

.mycard:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.gas {
  --blur: 1.75rem;
  --box-blur: calc(0.5 * var(--blur));
  --glow: var(--color);
  --size: 12rem;

  align-items: center;
  border-radius: 12px;
  border: 4px solid currentColor;
  box-shadow: 
    /* --- "glass" tube --- */
    /* inside */ inset 0 0 0 2px
      rgba(0, 0, 0, 0.15),
    /* outside */ 0 0 0 2px rgba(0, 0, 0, 0.15),
    /* --- glow --- */ /* inside */ inset 0 0 var(--box-blur) var(--glow),
    /* outside */ 0 0 var(--box-blur) var(--glow);
  color: var(--color, white);
  display: inline-flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
  height: var(--size);
  justify-content: space-around;
  padding: 1rem;
  width: var(--size);

  &.he {
    --color: #fceaac;
    filter: saturate(175%);
  }
  &.ne {
    --color: #de6407;
    filter: brightness(110%);
  }
  &.ar {
    --color: #e555c7;
    filter: brightness(125%);
  }
  &.kr {
    --color: #b7e7f7;
    filter: saturate(200%);
  }
  &.xe {
    --color: #c4c4c6;
    filter: brightness(105%);
  }
}
